<HTML><BODY>
<h1>WARNING. This is super experimental. <br></h1>
At the current stage this code is more an example of what can be done than a secure social network. 
Although I am trying to take security very seriously, I am no Jacob Appelbaum.
The code may even be bullet proof but I'd advise to take care for now.<br>
<br>

Stay paranoid until it gets audited by someone who knows what they're doing.<br>
<br>
Do not use passwords you use for anything else.<br>
Do not use keys you use for anything else.<br>
Do not say anything you really don't want the wrong person to hear.<br>
Do not post nudes.<br>
Do not share bank details.<br>
<br>

<form method='POST' enctype='multipart/form-data' action='/create_user'>
Create a username and password or create a new account<br>
Username: <input type='text' name='username'><br>
Password: <input type='password' name='password'><br>

<br>
<input type='submit' value='Click to log in'>
</form>

</BODY>
</HTML>
